
body, html {
    height: 100%;
}

.hero-image {
    /* The image used */
    background-image: url('/assets/img/Baboon_Flag.png');

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: green;
}