
body, html {
    height: 100%;
}

.hero-image {
    /* The image used */
    background-image: url('/assets/img/Baboon_Flag.png');

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: green;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: purple;
}

.fullscreen-img {
    position: absolute;
    background-image: url('/assets/img/Baboon_Flag.png');
    background-repeat: no-repeat;
    top: 30%;
    left: 30%;
    height: 10%;
    width: 10%;

}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 30%;
  max-width: 50%
  min-height: 30%;
  max-height: 50%;
}